@page
@using Microsoft.AspNetCore.Mvc.Localization
@using NirvanaHealth.Fhir.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using NirvanaHealth.Fhir.Web.Pages.Fhir.Businesses
@using NirvanaHealth.Fhir.Businesses;
@using System.Globalization
@inject IHtmlLocalizer<FhirResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Fhir/Businesses/CreateModal" autocomplete="off">
    <abp-modal id="BusinessCreateModal">
        <abp-modal-header title="@L["NewBusiness"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Business.Business_ID"/>

            <abp-input asp-for="Business.BusinessName"/>

            <abp-input asp-for="Business.BusinessCode"/>

            <abp-input asp-for="Business.BusinessCat"/>

            <abp-input asp-for="Business.TrackerCode"/>

            <abp-input asp-for="Business.DBA"/>

            <abp-input asp-for="Business.FEIN"/>

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>